---
---

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Snippets (BME AUT)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/normalize.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Snippets</h1>
      <h2 class="project-tagline">Példákon keresztül mindenféléről</h2>
      <a href="{{site.baseurl}}/index.html" class="btn">Kezdőlap</a>
      <a href="https://github.com/bmeaut/snippets" class="btn">GitHub oldal</a>
      <a href="{{site.baseurl}}/alkfejl.html" class="btn">AlkFejl</a>
      <a href="{{site.baseurl}}/fullList.html" class="btn">Kódnévvel</a>
    </section>

<section class="main-content">
{{ content }}
</section>

            <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-63608188-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>
